<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Add a job</title>
</head>
<body>
<h1>Adding a job</h1>

<form action="#" th:action="@{/addemployment}" th:object="${add}" method="post">
    <p>Your name: <input type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Problem with name</span></p>
    <p>Your email: <input type="text" th:field="*{email}"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Problem with email</span></p>
    <p>Company: <input type="text" th:field="*{org}"/>
        <span th:if="${#fields.hasErrors('org')}" th:errors="*{org}">Problem with company</span></p>
    <p>Start date: <input type="text" th:field="*{startDate}"/>
        <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Problem with start date</span></p>
    <p>End date: <input type="text" th:field ="*{endDate}"/>
        <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">Problem with end date</span></p>
    <p><input type="submit" value="Submit" /><input type="reset" value="Reset"/></p>
</form>

<p><a href="/starthere">Go back to start</a></p>
<p><a href="/viewcv">See entered jobs</a></p>
</body>
</html>