<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Job added</title>
</head>
<body>
<p>Your previous employment was entered successfully.</p>
<p>Here's your resume!</p>
<p th:text="${job.name}"/>
<p th:text="${job.email}"/>
<p th:text="${job.org}"/>
<p th:text="'Start date: ' +${job.startDate}"/>
<p th:text="'End date: ' +${job.endDate}"/>
<p th:text="'Days employed: ' +${job.daysEmployed}"/>
<p>What would you like to do?</p>
<p><a href="/addemployment">Add another job</a></p>
<p><a href="/viewcv">See entered jobs</a></p>
<p><a href="/starthere">Go back to start page</a></p>
</body>
</html>